.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: var(--trackerSidebar-width);
  height: 100%;
  padding: 20px 0;
  background-color: var(--darkblue);
}